@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Roboto");
body {
  background: #6a48a2;
  color: #fff; }

h1 {
  font-family: "Dancing Script"; }

p,
a {
  font-family: "Roboto"; }

.navbar {
  padding: 0;
  background-color: #785ca6;
  border-bottom: #d9c1ff 3px solid; }
  .navbar img {
    width: auto;
    height: 100px;
    margin: 0; }
  .navbar a {
    color: #000000; }

.modal {
  color: #000000; }

#home-section {
  background: url("../img/womanchild.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .btn {
    background-color: #d9c1ff;
    column-rule: #785ca6; }
  #home-section .home-inner {
    padding-top: 150px; }

#providers-head-section {
  color: #fff;
  background: url("../img/womanbaby.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }

#services-head-section h1 {
  padding-bottom: 0; }

#services-head-section img {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 20px; }

#services-head-section img:hover {
  border: 3px solid #d9c1ff; }

#about-head-section {
  background-color: #785ca6; }

#contact-head-section {
  background: url("../img/womandan.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }

#contact-head-section .footer {
  background-color: #d9c1ff; }

#contact-head-section h1 {
  color: #000000;
  opacity: 0.9; }

#contact-head-section p {
  color: #785ca6;
  padding: 0;
  margin-bottom: 0; }
