// imports
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
// vairable
$font-color: #fff;
$font-sec-color: #000000;
$primary-color: #785ca6;
$secondary-color: #d9c1ff;
$third-color: #969345;
$fourth-color: #e3e095;
$dark-overlay: rgba(0, 0, 0, 0.2);
$text-font: "Roboto";
$headline-font: "Raleway";

body {
  background: $primary-color;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-font;
}

a,
p {
  font-family: $text-font;
}

.navbar {
  img {
    width: auto;
    height: 100px;
    margin: 0;
  }
  padding: 0;
  background-color: $primary-color;
  border-bottom: $secondary-color 3px solid;

  a {
    color: $font-color;
  }

  .dropdown-item {
    color: $font-sec-color;
  }
}

.modal {
  color: $font-sec-color;
}

.awards {
  width: 100px;
  height: auto;
  padding-top: 175px;
  margin-left: 10px;
}
#home-section {
  background: url("../img/womanchild.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay {
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .btn {
    background-color: $secondary-color;
    column-rule: $primary-color;
  }

  .home-inner {
    padding-top: 150px;
  }

  h4 {
    text-align: right;
  }
}

.address {
  text-align: center;

  img {
    margin-top: 30px;
    height: 150px;
    width: auto;
  }
  .fa {
    margin: 75px;
    color: $font-color;
    font-size: 3em;
  }
}

#providers-head-section {
  color: $font-color;
  background: url("../img/womanbaby.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  text-shadow: 1px 1px $secondary-color;
  img {
    margin: 30px;
  }
  h5 {
    margin-top: 10px;
  }
}

#services-head-section {
  h1 {
    padding-bottom: 0;
  }

  img {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  img:hover {
    border: 3px solid $secondary-color;
  }
}

#office-head-section {
  background-color: $primary-color;
  p {
    text-align: justify;
    margin-bottom: 0px;
  }
  footer {
    color: $font-sec-color;
  }
  .address {
    margin-top: 30px;
  }

  #contact-head-section {
    .footer {
      background-color: $secondary-color;
    }
    .blockquote-footer {
      color: $font-sec-color;
    }

    h1 {
      color: $font-sec-color;
      opacity: 0.9;
    }

    p {
      color: $primary-color;
      padding: 0;
      margin-bottom: 0;
    }

    .address {
      text-align: center;
    }
  }
}
